#dv-jogo{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-left: 500px;
    margin-top: 50px;
  
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tQuemComeca{
    margin-bottom: 20px;
    border-bottom: solid 1px black;
    padding: 10px;
}

.btn{
    border: black solid 1px;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    background: white;
    cursor: pointer;
}

.posJogo{
    width: 125px;
    height: 125px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

#p1{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#p2{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
#p3{
    border-left: 1px solid black;
    border-bottom: 1px solid black;   
}
#p4{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;  
}
#p5{
    border: 1px solid black;  
}
#p6{
    border-bottom: 1px solid black;
    border-left: 1px solid black;  
    border-top: 1px solid black;
}
#p7{
    border-right: 1px solid black;
    border-top: 1px solid black;   
}
#p8{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
#p9{
    border-left: 1px solid black;
    border-top: 1px solid black;
}